<!--phama.ejs-->
<!DOCTYPE html>
<html lang="en" >
<html>
    <head>
        <title>รายละเอียดเมนู</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/x-icon" href="/<%=appname%>/img/icon/phamaOS.ico">
		<script type="text/javascript" src='/<%=appname%>/script/jquery/jquery-ui-1.12.1.custom/external/jquery/jquery.js'></script>
		<script type="text/javascript" src='/<%=appname%>/script/jquery/jquery-ui-1.12.1.custom/jquery-ui.js'></script>
		<script type="text/javascript" src="/<%=appname%>/script/js/jquery-te-1.4.0.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="/<%=appname%>/script/js/phama-plugin.js"></script>
		<script type="text/javascript" src="/<%=appname%>/script/js/phama.js"></script>
		<script type="text/javascript" src='/<%=appname%>/script/js/phama-util.js'></script>
		<script type="text/javascript" src="/<%=appname%>/script/js/phama-calendar.js"></script>

		<script src="https://d.line-scdn.net/liff/1.0/sdk.js" /></script>

		<link rel="stylesheet" href="/<%=appname%>/style/jquery-te-1.4.0.css" /> 
		<link rel="stylesheet" href="/<%=appname%>/style/phama-calendar.css" /> 
	<style>
		@font-face {
			font-family: THSarabunNew;
			font-weight: normal;
			font-style: normal;
			src: url("/<%=appname%>/font/THSarabunNew.ttf");
		}
		html {
			font-size: 100%;
		}
		body, input, select, textarea,	button,	a {
			font-size: 1.3em;
			line-height: 1.5;
			font-family: THSarabunNew /*{global-font-family}*/;
		}
		button {width: 100%;}
		#header {padding: 4px; border: 3px solid #ff6666; line-height: 0.45; position: relative; height: 360px}
		.ShopDesc{padding: 4px; position: relative; float: left;}
		.ShopLogoDiv  { /*border: 3px solid #0ac04f; width: 150px; height: 150px; */ width: 100%; position: relative; float: left;}
		.LogoImage {  width: 150px; height: 150px;  object-fit: contain; position: relative; float: left;}
		.QRImage {  width: 50px; height: 50px;  object-fit: contain; position: relative; float: right;}
		#Phama {padding: 4px; background-color: #d7d7d7; line-height: 0.85;}
		.ImageFrame { border: 3px solid #0ac04f; width: 200px; height: 200px;}
		.ItemImage {  width: 200px; height: 200px;  object-fit: contain;}
		#ReviewList {background-color: #4af091; padding: 4px;}
		.ReviewItem {padding: 4px;}
		#PostReviewForm {margin-top: 10px;}
		#ReviewFormDiv {display: none;} 

		#date-slide-bar{display: none} 
		#date-box, #howmany-d, #howmany, #telno {position: relative;	top: 0px; border: 3px solid blue;}
	</style>
    </head>
    <body>
		<div data-role="page" data-theme="a">
			<div id="header">

			</div>
			<div id="data-message" style="display: none; text-align: center"></div>
			<div id="Phama">

			</div>
			<div id="ReviewList">

			</div>
			<div id="PostReviewForm">
				<button onclick="openReviewForm()">เขียนรีวิว</button>
				<div id="ReviewFormDiv">	
					<label for="review">เขียนรีวิวของคุณเสร็จแล้วคลิกปุ่ม <b>โพสต์</b> เพื่อโพสต์รีวิวเข้าสู่ระบบ</label>
					<textarea id="review" rows="4" cols="37" style='border: 3px solid blue;'></textarea>
					<button id="postReviewCmd">โพสต์</button>
					<input type="hidden" id="userid"/>
				</div>
			</div>
			<div id="ShopDiv">
				<button onclick="openShopReview()">รายละเอียดร้าน</button>
			</div>
			<div id="RegisterDiv">
				<button onclick="openRegister()">ลงทะเบียนร้านอาหารใหม่</button>
			</div>
		</div>
   </body>
</html>   

<div id="Howmany-Dialog" style="display: block; z-index: 10; text-align: center; background-color: #99ff99;">
	<div id="Input-Box" style="text-align: left; padding: 10px;">
		<p>โปรดระบุจำนวนที่ต้องการสั่ง แล้วคลิก <b>ตกลง</b></p>
		<label for="howmany">จำนวนที่ต้องการสั่ง</label>
		<input type="number" id="howmany" size="6" value="1"/>
	</div>
	<div style="text-align: center; padding: 10px;">
		<input type="button" id="HowmanyOKCmd" value=" ตกลง " onclick="userOK()" style="width: 100%"/>
		<input type="button" value=" ยกเลิก " onclick="closeHowmanyDialog()" style="width: 100%"/>
	</div>
</div>

<div id="Booking-Dialog" style="display: block; z-index: 10; text-align: center; background-color: #ff9933">
	<div id="Intro-Box" style="text-align: left; padding: 10px;">
		<h2>จอง</h2>
		<p>โปรดระบุวันที่เข้าพัก จำนวนวันที่เข้าพัก และหมายเลขโทรศัพท์ผู้จอง แล้วคลิก <b>ตกลง</b></p>
	</div>
	<div id="Date-Booking-Box" style="text-align: left; padding: 10px;">
		<div id="date-slide-bar" class="date-slide-show"></div>
		<label for="date-box">วันที่เข้าพัก&nbsp;&nbsp;&nbsp;&nbsp;</label>
		<input type="text" id="date-box"/>
	</div>
	<div id="Howmany-Box" style="text-align: left; padding: 10px;">
		<label for="howmany-d">จำนวนวันที่เข้าพัก</label>
		<input type="number" id="howmany-d" value="1"/>&nbsp;&nbsp;วัน
	</div>
	<div id="Telno-Box" style="text-align: left; padding: 10px;">
		<label for="telno">หมายเลขโทรศัพท์ผู้จอง</label>
		<input type="number" id="telno" placeholder="0999999999"/>
	</div>
	<div style="text-align: center; padding: 10px;">
		<input type="button" id="BookingOKCmd" value=" ตกลง " onclick="bookingNow()" style="width: 100%"/>
		<input type="button" value=" ยกเลิก " onclick="closeBookingDialog()" style="width: 100%"/>
	</div>
</div>

<script>
	function doLoadShopData(){
		return new Promise(function(resolve, reject) {
			var url = "/" + appname+ "/phamareview/shopdata/" + shopid;
			$.post(url, params, function(data){
				resolve(data);
			}).fail(function(error) { 
				console.log(JSON.stringify(error));
				reject(error); 
			});
		});
	}

	function doLoadPhamaData(){
		return new Promise(function(resolve, reject) {
			var url = "/" + appname+ "/phamareview/phamadata/" + phamaid;
			$.post(url, params, function(data){
				resolve(data);
			}).fail(function(error) { 
				console.log(JSON.stringify(error));
				reject(error); 
			});
		});
	}

	function doLoadReviewList(){
		return new Promise(function(resolve, reject) {
			var url = "/" + appname+ "/phamareview/reviewlist/" + phamaid;
			$.post(url, params, function(data){
				resolve(data);
			}).fail(function(error) { 
				console.log(JSON.stringify(error));
				reject(error); 
			});
		});
	}

	function doLoadUserid(userId){
		return new Promise(function(resolve, reject) {
			var url = "/" + appname+ "/phamareview/userid/" + userId;
			$.post(url, params, function(data){
				resolve(data);
			}).fail(function(error) { 
				console.log(JSON.stringify(error));
				reject(error); 
			});
		});
	}

	function doPostReview(revdata){
		return new Promise(function(resolve, reject) {
			params = revdata;
			var url = "/" + appname+ "/phamareview/postreview/" + phamaid;
			$.post(url, params, function(data){
				resolve(data);
			}).fail(function(error) { 
				console.log(JSON.stringify(error));
				reject(error); 
			});
		});
	}

	function doShopAdminTriggerNewPhamaRev(destination){
		return new Promise(function(resolve, reject) {
			params = {userId: userId, destination: destination};
			var url = "/" + appname+ "/webhook/postphamareview/" + phamaid;
			$.post(url, params, function(data){
				resolve(data);
			}).fail(function(error) { 
				console.log(JSON.stringify(error));
				reject(error); 
			});
		});
	}

	function getOrderItemQty(userId){
		return new Promise(function(resolve, reject) {
			var routeUrl = "/" + appname+ "/webhook/orderitemqty/" + userId;
			params = {};
			$.post(routeUrl, params, function(data){
				resolve(data);
			}).fail(function(error) { 
				console.log(JSON.stringify(error));
				reject(error); 
			});
		});
	}

	function postAddItemOrder(userId, data){
		return new Promise(function(resolve, reject) {
			var routeUrl = "/" + appname+ "/webhook/additem/" + userId;
			params = data;
			$.post(routeUrl, params, function(data){
				resolve(data);
			}).fail(function(error) { 
				console.log(JSON.stringify(error));
				reject(error); 
			});
		});
	}

	function doShopAdminTriggerNewItemOrd(userId, destination, itemtext){
		return new Promise(function(resolve, reject) {
			params = {itemtext: itemtext, destination: destination, shopid: shopid};
			var url = "/" + appname+ "/webhook/additemtrigger/" + userId;
			$.post(url, params, function(data){
				resolve(data);
			}).fail(function(error) { 
				console.log(JSON.stringify(error));
				reject(error); 
			});
		});
	}

	function doUpdateTelno(userId, telno){
		return new Promise(function(resolve, reject) {
			params = {telno: telno};
			var url = "/" + appname+ "/webhook/updatetemptelno/" + userId;
			$.post(url, params, function(data){
				resolve(data);
			}).fail(function(error) { 
				console.log(JSON.stringify(error));
				reject(error); 
			});
		});
	}
</script>

<script>
	var params = {};
	var appname = '<%=appname%>';
	var shopid = <%=shopid%>;
	var phamaid = <%=phamaid%>;
	var userId = '<%=userId%>';
	var destination = '<%=destination%>'; /*  U40e18f988176e0cad1fd16007ef5a93e */

	$("#review").jqte();

	$("#Howmany-Dialog").dialog({ autoOpen: false,  modal: true, closeOnEscape: false, open: function(event, ui) {
		$(".ui-dialog-titlebar-close", ui.dialog | ui).hide();
	}});

	$("#Booking-Dialog").dialog({ autoOpen: false,  modal: true, closeOnEscape: false, open: function(event, ui) {
		$(".ui-dialog-titlebar-close", ui.dialog | ui).hide();
	}});

	$("#date-box" ).on("focus", function() {
		$("#date-slide-bar").toggle( "slide", {direction: "up", distance: "100px"});
	});

	var reviewdata = {shopid: shopid, phamaid: phamaid, appname: appname, userId: userId, destination: destination};
	localStorage.removeItem(reviewdata.userId);
	localStorage.setItem(reviewdata.userId, JSON.stringify(reviewdata));

	function showWaitting(msg, target, degree, millisecond){
		$(target).html("<h3>" + msg+ "</h3>");
		$(target).css({"background-color": "yellow", "color": "blue", "font-size": "20px",  "text-align": "center", "height": "50px", "line-height": "50px", "position": "relative", "z-index":"5", "opacity": "0.25"});
		$(target).show();
		$(target).animateRotate(degree, millisecond);
		setTimeout(function() {
			$(target).removeAttr( "style" ).hide().fadeIn();
			$(target).hide();
		}, (millisecond+500) );
	}

	function setupSystem() {
		var userData = eval("JSON.parse(localStorage.getItem('" + userId + "'))");
		$("#header").empty();
		//$("#header").html("Log:: " + JSON.stringify(reviewdata) + "<br/>" + "userData:: " + JSON.stringify(userData) );
		doLoadShopData().then((shopRow) => {
			var headerContent = $("<div></div>");
			var shoplogo =	$("<div class='ShopLogoDiv'><img class='LogoImage' src='/" + appname + "/img/logo/shop/1/1.jpg'/></div>" );
			$(shoplogo).append("<img class='QRImage' src='/" + appname + "/img/logo/shop/1/qr.png'/>");
			$(headerContent).append($(shoplogo));

			var shopDesc = $("<div class='ShopDesc'></div>");
			$(shopDesc).append("<h2>" + shopRow[0].name + "</h2>");
			$(shopDesc).append("<h4>" + shopRow[0].address + "</h4>");
			$(shopDesc).append("<h4>โทรศัพท์ " + shopRow[0].tel + "</h4>");
			$(shopDesc).append("<h3>" + shopRow[0].slogan + "</h3>");
			$(shopDesc).append("<a href='" + shopRow[0].maplink + "' target='_blank'>แผนที่ร้าน</a>");

			$(headerContent).append($(shopDesc));
			$("#header").append($(headerContent));
			//$("#header").append("<div>" + JSON.stringify(shopRow) + "</div>");
			const URLENCODED_URL = "https://www.myshopman.com/phama/phamareview?phamaid=" + phamaid;
			const ITEMPHAMA_URL = "https://www.myshopman.com/phama/img/upload/" + shopid + "/item/"
			doLoadPhamaData().then((phamaRow) => {
				$(document).attr("title", phamaRow[0].name + " :: " + shopRow[0].name);
				$("#Phama").empty();
				var phamaContent = $("<div></div>");
				//console.log( ITEMPHAMA_URL + phamaRow[0].picture );
				$(phamaContent).append("<div class='ImageFrame'><a href='" + ITEMPHAMA_URL + phamaRow[0].picture + "' target='_blank'><img class='ItemImage' src='" + ITEMPHAMA_URL + phamaRow[0].picture + "'/></a></div>" );
				$(phamaContent).append("<h3>" + phamaRow[0].name + "</h3>");
				$(phamaContent).append("<p>" + phamaRow[0].description + "</p>");
				$(phamaContent).append("<p>ราคาขายปลีก " + phamaRow[0].price + " บาท/" + phamaRow[0].unit + "</p>");
				$(phamaContent).append("<p>ราคาสมาชิก " + phamaRow[0].exprice + " บาท/" + phamaRow[0].unit + "</p>");
				$("#Phama").append($(phamaContent));
				//$("#Phama").append("<div>" + JSON.stringify(phamaRow) + "</div>");
				$("#Phama").append("<a href='https://www.facebook.com/sharer/sharer.php?u=" + URLENCODED_URL + "&t=" + phamaRow[0].name + "' onclick='javascript:window.open(this.href, \"\", \"menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600\");return false;' target='_blank' title='Share on Facebook'><img src='/" + appname + "/img/logo/Share-on-Facebook.png' width='220px' height='60px'/></a>");

				$("#Phama").append("&nbsp;&nbsp;&nbsp;&nbsp;");
				$("#Phama").append("<a href='https://social-plugins.line.me/lineit/share?url=" + URLENCODED_URL + "'><img src='/" + appname + "/img/logo/wide-default.png' width='120px' height='50px'/></a>");

				if(userId != "") {
					$("#Phama").append("&nbsp;&nbsp;<input type='button' value=' สั่งเลย ' onclick='doBuyIt(" + phamaid + ",\"" + phamaRow[0].gtype + "\")'/>");
					/*
					var buyButtLabel;
					var promiseList = new Promise(function(resolve,reject){
						if(phamaRow[0].gtype == "onli") {
							getOrderItemQty(userId).then((hw) => {
								if(hw.qty > 0){
									buyButtLabel = "สั่งเลย";
								} else {
									buyButtLabel = "... ";
								}
							});
						} else if(phamaRow[0].gtype == "serv") {
							buyButtLabel = "จองเลย";
						}
						setTimeout(()=>{
							resolve(buyButtLabel);
						},1200);
					});
					Promise.all([promiseList]).then((ob)=>{
						$("#Phama").append("&nbsp;&nbsp;<input type='button' value='" + ob[0] + "' onclick='doBuyIt(" + phamaid + ",\"" + phamaRow[0].gtype + "\")'/>");
					});
					*/
				}

				doLoadReviewList().then((reviewRows) => {
					$("#ReviewList").empty();
					reviewRows.forEach((item)=> {
						var reviewContent = $("<div class='ReviewItem'></div>");

						$(reviewContent).append("<div>" + item.review + "</div>");
						$(reviewContent).append("เมื่อวันที่ " + formatCustomerDate(item.lastupd) + "&nbsp;&nbsp;เวลา&nbsp;&nbsp;" + formatCustomerTime(item.lastupd) + "&nbsp;&nbsp;");
						$(reviewContent).append("โดย " + item.ldisplayname + "&nbsp;&nbsp;");

						$("#ReviewList").append($(reviewContent));
					});
					//$("#ReviewList").append("<div>" + JSON.stringify(reviewRows) + "</div>");
				});

			});
		});
	}

	if (navigator.userAgent.toLowerCase().indexOf('line') > -1)	{
		/* ไว้ใช้กับ liff */
		liff.init( data => {
			var userId = data.context.userId;
			showWaitting("โปรดรอสักครู่ ระบบกำลังเริ่มทำงาน ", "#data-message", 360, 3000);
			setTimeout(function(){
				setupSystem();
			}, 3500);
		});
	} else {
		/*  ไว้ใช้กับ desktop browser */
		var userId = 'U2ffb97f320994da8fb3593cd506f9c43';
		showWaitting("ระบบกำลังเริ่ม โปรดรอสักครู่ ... ", "#data-message", 360, 3000);
		setTimeout(function(){
			setupSystem();
		}, 3500);
	}

	function openReviewForm(){
		doLoadUserid(userId).then((userRow) => {
			$("#ReviewFormDiv").toggle();
			$("#userid").val(userRow[0].id);
		});
	}

	$('#postReviewCmd').on('click', (e) => {
		e.preventDefault();
		var review = $("#review").val();
		if(review){
			var userid = $("#userid").val();
			data = {review: review, userid: userid};
			doPostReview(data).then((newid) => {
				doShopAdminTriggerNewPhamaRev(destination).then((code) => {
					showWaitting("ส่งรีวิวของคุณเข้าสู่ระบบแล้ว โปรดรอให้ผู้จัดการร้านพิจารณาอนุมัติก่นนะครับ ใช้เวลาไม่นาน ", "#data-message", 360, 3000);
					setTimeout(function(){
						$("#review").jqteVal("New article!");
						setupSystem();
					}, 3500);
				});
			});
		} else {
			alert("โปรดพิมพ์ข้อความรีวิวของคุณก่อนครับ");
			$("#review").focus();
		}
	});
	
	function doBuyIt(phamaid, gtype){
		if(gtype == "onli"){
			$("#Howmany-Dialog").dialog("open");
		} else if(gtype == "serv"){
			$("#Booking-Dialog").dialog("open");
			initDateSlideBar();
		}
	}

	function closeHowmanyDialog(){
		$("#Howmany-Dialog").dialog("close");
	}

	function userOK(){
		var qty = $("#howmany").val();
		if (qty > 0){
			doLoadPhamaData().then((itemData)=> {
				var data = {itemid: itemData[0].id, itemname: itemData[0].name, itemunit: itemData[0].unit, itemprice: itemData[0].price, amount: qty, itemstatus: 1};
				$.when(postAddItemOrder(userId, data)).done(function(code) {
					var itemText = itemData[0].name + " จำนวน " + qty + " " + itemData[0].unit;
					doShopAdminTriggerNewItemOrd(userId, destination, itemText);
					alert("เพิ่ม " + itemText + " ไปยังออเอร์ของคุณแล้วครับ");
					closeHowmanyDialog();
				});
			});
		} else {
			alert("จำนวนที่ต้องการสั่งของคุณไม่ควรว่างหรือเป็นค่า 0");
			$("#howmany").focus();
		}
	}

	function closeBookingDialog(){
		$("#Booking-Dialog").dialog("close");
	}

	function bookingNow(){
		if($("#date-box" ).val() != ""){
			var userDate = convertEngDate($("#date-box" ).val());
			userDate = new Date(userDate);
			var today = new Date();
			today.setHours(0,0,0,0);
			if (userDate.getTime() >= today.getTime()) {
				$("#date-box").css('border', '');
				var dfrm = convertEngDate($("#date-box" ).val());
				if($("#howmany-d" ).val() != ""){
					$("#howmany-d").css('border', '');
					var hwd = $("#howmany-d" ).val();
					if(($("#telno" ).val() != "") && ($("#telno" ).val().length === 10)){
						$("#telno").css('border', '');	
						var telno = $("#telno" ).val();
						doLoadPhamaData().then((itemData)=> {
							var data = {itemid: itemData[0].id, itemname: itemData[0].name, itemunit: itemData[0].unit, itemprice: itemData[0].price, amount: hwd, dfrm: $("#date-box" ).val(), gtype: 'serv', itemstatus: 1};
							$.when(postAddItemOrder(userId, data)).done(function(addCode) {
								$.when(doUpdateTelno(userId, telno)).done(function(updateCode) {
									var itemText = itemData[0].name + " จำนวน " + hwd + " " + itemData[0].unit + " เริ่มพักวันที่ " + $("#date-box" ).val() + " ติดต่อกลับที่ " + telno;
									doShopAdminTriggerNewItemOrd(userId, destination, itemText);
									alert("คำสั่งจองของคุณได้ถูกส่งไปยังร้านค้าเรียบร้อยแล้ว โปรดรอการติดต่อกลับมาตามหมายเลขโทศัพท์ที่คุณให้ไว้ด้วยนะครับ");
									closeBookingDialog();
								});
							});
						});
					} else {
						$("#telno").css('border', '3px solid red');
						alert("โปรดป้อนหมายเลขโทรศัพท์ผู้จองด้วยครับ");
						$("#telno" ).focus();
					}
				} else {
					$("#howmany-d").css('border', '3px solid red');
					alert("โปรดป้อนจำนวนวันที่ต้องการเข้าพักก่อนครับ");
					$("#howmany-d" ).focus();
				}
			}else{
				$("#date-box").css('border', '3px solid red');
				alert("วันที่จองจะต้องเป็นวันที่ปัจจุบันหรือมากกว่านั้น\nโปรดเลือกวันที่จองใหม่อีกครั้งครับ");
				$("#date-box" ).focus();
			}
		} else {
			$("#date-box").css('border', '3px solid red');
			alert("โปรดเลือกวันที่ก่อนครับ");
			$("#date-box" ).focus();
		}
	}


</script>

<script>
	function openRegister(){
		var url = '/' + appname + '/phamareview/register?shopid=<%=shopid%>&phamaid=<%=phamaid%>&userId=' + userId + '&dest=' + destination;
		gotoPage(url)
	}

	function openShopReview(){
		var url = '/' + appname + '/shopreview?shopid=<%=shopid%>&userId=' + userId + '&dest=' + destination;
		gotoPage(url)
	}
</script>