<!--shop.ejs-->
<!DOCTYPE html>
<html lang="en" >
<html>
    <head>
        <title>รายละเอียดร้าน</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/x-icon" href="/<%=appname%>/img/icon/phamaOS.ico">
		<script type="text/javascript" src='/<%=appname%>/script/jquery/jquery-ui-1.12.1.custom/external/jquery/jquery.js'></script>
		<script type="text/javascript" src='/<%=appname%>/script/jquery/jquery-ui-1.12.1.custom/jquery-ui.js'></script>
		<script type="text/javascript" src="/<%=appname%>/script/js/jquery-te-1.4.0.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="/<%=appname%>/script/js/phama-plugin.js"></script>
		<script type="text/javascript" src="/<%=appname%>/script/js/phama.js"></script>
		<script type="text/javascript" src='/<%=appname%>/script/js/phama-util.js'></script>

		<script src="https://d.line-scdn.net/liff/1.0/sdk.js" /></script>

		<link rel="stylesheet" href="/<%=appname%>/style/jquery-te-1.4.0.css" /> 
	<style>
		@font-face {
			font-family: THSarabunNew;
			font-weight: normal;
			font-style: normal;
			src: url("/<%=appname%>/font/THSarabunNew.ttf");
		}
		html {
			font-size: 100%;
		}
		body, input, select, textarea,	button,	a {
			font-size: 1.3em;
			line-height: 1.5;
			font-family: THSarabunNew /*{global-font-family}*/;
		}
		button {width: 100%;}
		#header {padding: 4px; border: 3px solid #ff6666; line-height: 0.45; position: relative; height: 360px}
		.ShopDesc{padding: 4px; position: relative; float: left;}
		.ShopLogoDiv  { /*border: 3px solid #0ac04f; width: 150px; height: 150px; */ width: 100%; position: relative; float: left;}
		.LogoImage {  width: 150px; height: 150px;  object-fit: contain; position: relative; float: left;}
		.QRImage {  width: 50px; height: 50px;  object-fit: contain; position: relative; float: right;}
		#Shop {padding: 4px; background-color: #d7d7d7; line-height: 0.45;}

		#ReviewList {background-color: #4af091; padding: 4px;}
		.ReviewItem {padding: 4px; margin-top: 4px; border: 3px solid #336600;}
		.ReviewItemContent {padding: 4px;}
		#PostReviewForm {margin-top: 10px;}
		#ReviewFormDiv, #GroupDiv {display: none;} 

		.GroupHeader {background-color: #4af091; cursor: pointer;}
		.GroupContent {background-color: #dafce9; display: none;}
	</style>
    </head>
    <body>
		<div data-role="page" data-theme="a">
			<div id="header">

			</div>
			<div id="data-message" style="display: none; text-align: center"></div>
			<div id="Shop">

			</div>
			<div id="ReviewList">

			</div>
			<div id="PostReviewForm">
				<button onclick="openReviewForm()">เขียนรีวิว</button>
				<div id="ReviewFormDiv">	
					<label for="review">เขียนรีวิวของคุณเสร็จแล้วคลิกปุ่ม <b>โพสต์</b> เพื่อโพสต์รีวิวเข้าสู่ระบบ</label>
					<textarea id="review" rows="4" cols="37" style='border: 3px solid blue;'></textarea>
					<button id="postReviewCmd">โพสต์</button>
					<input type="hidden" id="userid"/>
				</div>
			</div>
			<div id="ProductListDiv">
				<button onclick="openGroup()">รายการสินค้า</button>
				<div id="GroupDiv">
				</div>
			</div>
			<div id="RegisterDiv">
				<button onclick="openRegister()">ลงทะเบียนร้านอาหารใหม่</button>
			</div>
		</div>
   </body>
</html>   

<script>
	function doLoadShopData(){
		return new Promise(function(resolve, reject) {
			var url = "/" + appname+ "/shopreview/shopdata/" + shopid;
			$.post(url, params, function(data){
				resolve(data);
			}).fail(function(error) { 
				console.log(JSON.stringify(error));
				reject(error); 
			});
		});
	}

	function doLoadReviewList(){
		return new Promise(function(resolve, reject) {
			var url = "/" + appname+ "/shopreview/reviewlist/" + shopid;
			$.post(url, params, function(data){
				resolve(data);
			}).fail(function(error) { 
				console.log(JSON.stringify(error));
				reject(error); 
			});
		});
	}

	function doLoadUserid(userId){
		return new Promise(function(resolve, reject) {
			var url = "/" + appname+ "/shopreview/userid/" + userId;
			$.post(url, params, function(data){
				resolve(data);
			}).fail(function(error) { 
				console.log(JSON.stringify(error));
				reject(error); 
			});
		});
	}

	function doPostReview(revdata){
		return new Promise(function(resolve, reject) {
			params = revdata;
			var url = "/" + appname+ "/shopreview/postreview/" + shopid;
			$.post(url, params, function(data){
				resolve(data);
			}).fail(function(error) { 
				console.log(JSON.stringify(error));
				reject(error); 
			});
		});
	}

	function doShopAdminTrigger(destination){
		return new Promise(function(resolve, reject) {
			params = {userId: userId, destination: destination};
			var url = "/" + appname+ "/webhook/postshopreview/" + shopid;
			$.post(url, params, function(data){
				resolve(data);
			}).fail(function(error) { 
				console.log(JSON.stringify(error));
				reject(error); 
			});
		});
	}

	function doLoadGroupList(){
		return new Promise(function(resolve, reject) {
			params = {};
			var url = "/" + appname+ "/shopreview/phamagrouplist/" + shopid;
			$.post(url, params, function(data){
				resolve(data);
			}).fail(function(error) { 
				console.log(JSON.stringify(error));
				reject(error); 
			});
		});
	}

	function doLoadItemList(groupid){
		return new Promise(function(resolve, reject) {
			params = {};
			var url = "/" + appname+ "/shopreview/phamaitemlist/" + groupid;
			$.post(url, params, function(data){
				resolve(data);
			}).fail(function(error) { 
				console.log(JSON.stringify(error));
				reject(error); 
			});
		});
	}
</script>

<script>
	var params = {};
	var appname = '<%=appname%>';
	var shopid = <%=shopid%>;
	var userId = '<%=userId%>';
	var destination =  '<%=destination%>';

	
	$("#review").jqte();

	/*
	var reviewdata = {shopid: shopid, phamaid: phamaid, appname: appname, userId: userId, destination: destination};
	localStorage.removeItem(reviewdata.userId);
	localStorage.setItem(reviewdata.userId, JSON.stringify(reviewdata));
	*/

	function showWaitting(msg, target, degree, millisecond){
		$(target).html("<h3>" + msg+ "</h3>");
		$(target).css({"background-color": "yellow", "color": "blue", "font-size": "20px",  "text-align": "center", "height": "50px", "line-height": "50px", "position": "relative", "z-index":"5", "opacity": "0.25"});
		$(target).show();
		$(target).animateRotate(degree, millisecond);
		setTimeout(function() {
			$(target).removeAttr( "style" ).hide().fadeIn();
			$(target).hide();
		}, (millisecond+500) );
	}

	function setupSystem() {
		//var userData = eval("JSON.parse(localStorage.getItem('" + userId + "'))");
		console.log(userId);
		if(userId == '') $("#PostReviewForm").hide();
		$("#header").empty();
		//$("#header").html("Log:: " + JSON.stringify(reviewdata) + "<br/>" + "userData:: " + JSON.stringify(userData) );
		doLoadShopData().then((shopRow) => {
			$(document).attr("title", shopRow[0].name);
			var headerContent = $("<div></div>");
			var shoplogo =	$("<div class='ShopLogoDiv'><img class='LogoImage' src='/" + appname + "/img/logo/shop/1/1.jpg'/></div>" );
			$(shoplogo).append("<img class='QRImage' src='/" + appname + "/img/logo/shop/1/qr.png'/>");
			$(headerContent).append($(shoplogo));

			var shopDesc = $("<div class='ShopDesc'></div>");
			$(shopDesc).append("<h2>" + shopRow[0].name + "</h2>");
			$(shopDesc).append("<h4>" + shopRow[0].address + "</h4>");
			$(shopDesc).append("<h4>โทรศัพท์ " + shopRow[0].tel + "</h4>");
			$(shopDesc).append("<h3>" + shopRow[0].slogan + "</h3>");
			$(shopDesc).append("<a href='" + shopRow[0].maplink + "' target='_blank'>แผนที่ร้าน</a>");

			$(headerContent).append($(shopDesc));
			$("#header").append($(headerContent));
			//$("#header").append("<div>" + JSON.stringify(shopRow) + "</div>");
			const URLENCODED_URL = "https://www.myshopman.com/phama/shopreview?shopid=" + shopid;

			$("#Shop").empty();
			$("#Shop").append("<a href='https://www.facebook.com/sharer/sharer.php?u=" + URLENCODED_URL + " onclick='javascript:window.open(this.href, \"\", \"menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600\");return false;' target='_blank' title='Share on Facebook'><img src='/" + appname + "/img/logo/Share-on-Facebook.png' width='220px' height='60px'/></a>");
			
			$("#Shop").append("&nbsp;&nbsp;&nbsp;&nbsp;");
			$("#Shop").append("<a href='https://social-plugins.line.me/lineit/share?url=" + URLENCODED_URL + "'><img src='/" + appname + "/img/logo/wide-default.png' width='140px' height='50px'/></a>");

			doLoadReviewList().then((reviewRows) => {
				$("#ReviewList").empty();
				reviewRows.forEach((item)=> {
					var reviewContent = $("<div class='ReviewItem'></div>");

					$(reviewContent).append("<div class='ReviewItemContent'>" + item.review + "</div>");
					$(reviewContent).append("เมื่อวันที่ " + formatCustomerDate(item.lastupd) + "&nbsp;&nbsp;เวลา&nbsp;&nbsp;" + formatCustomerTime(item.lastupd) + "&nbsp;&nbsp;");
					$(reviewContent).append("โดย " + item.ldisplayname + "&nbsp;&nbsp;");

					$("#ReviewList").append($(reviewContent));
				});
				//$("#ReviewList").append("<div>" + JSON.stringify(reviewRows) + "</div>");
			});
		});
	}

	if (navigator.userAgent.toLowerCase().indexOf('line') > -1)	{
		/* ไว้ใช้กับ liff */
		liff.init( data => {
			var userId = data.context.userId;
			showWaitting("โปรดรอสักครู่ ระบบกำลังเริ่มทำงาน ", "#data-message", 360, 3000);
			setTimeout(function(){
				setupSystem();
			}, 3500);
		});
	} else {
		/*  ไว้ใช้กับ desktop browser */
		var userId = 'U2ffb97f320994da8fb3593cd506f9c43';
		showWaitting("ระบบกำลังเริ่ม โปรดรอสักครู่ ... ", "#data-message", 360, 3000);
		setTimeout(function(){
			setupSystem();
		}, 3500);
	}

	function openReviewForm(){
		doLoadUserid(userId).then((userRow) => {
			$("#ReviewFormDiv").toggle();
			$("#userid").val(userRow[0].id);
		});
	}

	$('#postReviewCmd').on('click', (e) => {
		e.preventDefault();
		var review = $("#review").val();
		if(review){
			var userid = $("#userid").val();
			data = {review: review, userid: userid};
			doPostReview(data).then((newid) => {
				doShopAdminTrigger(destination).then((code) => {
					showWaitting("ส่งรีวิวของคุณเข้าสู่ระบบแล้ว โปรดรอให้ผู้จัดการร้านพิจารณาอนุมัติก่นนะครับ ใช้เวลาไม่นาน ", "#data-message", 360, 3000);
					setTimeout(function(){
						$("#review").jqteVal("New article!");
						setupSystem();
					}, 3500);
				});
			});
		} else {
			alert("โปรดพิมพ์ข้อความรีวิวของคุณก่อนครับ");
			$("#review").focus();
		}
	});

	function openRegister(){
		var url = '/' + appname + '/phamareview/register?shopid=<%=shopid%>&userId=' + userId+ '&dest=' + destination + '&phamaid=0';
		gotoPage(url)
	}

	function openGroup(){
		$("#GroupDiv").toggle();
		$("#GroupDiv").empty();
		if ($("#GroupDiv").is(":visible")) {
			doLoadGroupList().then((groupRows) => {
				groupRows.forEach((group, idx) => {
					$("#GroupDiv").append("<h3 class='align-center GroupHeader' onclick='openItem(" + group.id + ")'>" + (idx+1) + ".&nbsp;" + group.name + "</h3>");
					$("#GroupDiv").append("<div class='GroupContent' id='group-" + group.id + "'></div>");
				});
			});
		}
	}

	function openItem(groupid) {
		$("#group-"+ groupid).toggle();
		$("#group-"+ groupid).empty();
		doLoadItemList(groupid).then((itemRows) => {
			itemRows.forEach((item, idx) => {
				$("#group-"+ groupid).append("<h3>&nbsp;&nbsp;&nbsp;&nbsp;" + item.name + "&nbsp;&nbsp;<a href='#' onclick='openPhamaReview(" + item.id + ")'>เปิด</a></h3>");
			});
		});
	}

	function openPhamaReview(phamaid) {
		var url = '/' + appname + '/phamareview?shopid=' + shopid + '&userId=' + userId+ '&dest=' + destination + '&phamaid=' + phamaid;
		gotoPage(url)
	}
</script>
