<!--about.ejs-->
<%- include ../header.ejs %>   
<style>
	#data-display {	  padding-top: 10px;	  padding-right: 10px;	  padding-bottom: 10px;	  padding-left: 10px;		}
</style>
<h2 id= "welcome-user" style="text-align: center">เกี่ยวกับระบบ Phama Bot</h2>
<div id="data-message" style="display: none; text-align: center"></div>
<div id="data-display">
<div id="AddFormDiv">
	<img src="/<%=appname%>/img/logo/shop/<%=shopid%>/<%=shopid%>.jpg"/>
	<img src="/<%=appname%>/img/logo/shop/<%=shopid%>/qr.png"/>
</div>

<!-- including footer content which is common for all pages -->
<%- include ../footer.ejs %>

<script>

</script>
