<!--foodgroup.ejs-->
<%- include ../header.ejs %>   
<style>
	@font-face {
			font-family: THSarabunNew;
			font-weight: normal;
			font-style: normal;
			src: url("/<%=appname%>/font/THSarabunNew.ttf");
	}
	button {width: 100%;}
	input[type="file"] {font-size: 1.3em; line-height: 1.5;	font-family: THSarabunNew;}
	.align-center {text-align: center;}
	#data-message {display: none;}
	.GroupHeader {background-color: #4af091;}
	.GroupContent, #AddFormDiv  {background-color: #dafce9;}
	.GnameBox, .GdescriptionBox  {padding: 3px;}
	#ImageFrame { border: 3px solid #0ac04f; width: 200px; height: 200px;}
	.GroupImage {  width: 200px; height: 200px;  object-fit: contain;}
	.UploadIndicator {height: 80px;}
	/*object-fit: contain;  object-fit: scale-down;  object-position: -10% 0;  object-fit: none;  object-fit: fill;*/
	.progressBar {width: 0px; height: 10px; background-color: #0ac04f;}
	#AddFormDiv {display: none; }
</style>
<div id="data-message" class="align-center">

</div>
<h2 class="align-center">กลุ่มเมนู</h2>
<div id="data-display">
	<% if (data.length > 0) { %>
		<div id="ListGroupDiv">
			<% data.forEach(function(fgroup, idx){ %>
			<h3 class="align-center GroupHeader"><%=(idx+1) %>.&nbsp;<%= fgroup.name %></h3>
			<div id="groupid-<%= fgroup.id %>" class="GroupContent">
				<div class="GnameBox">
					<label for="gname-<%= fgroup.id %>">ชื่อกลุ่มเมนู</label>
					<input type="text" id="gname-<%= fgroup.id %>" value="<%= fgroup.name %>"/>
				</div>
				<div class="GdescriptionBox">
					<label for="gdescription-<%= fgroup.id %>">รายละเอียด</label>
					<input type="text" id="gdescription-<%= fgroup.id %>" value="<%= fgroup.description %>"/>
				</div>
				<div class="GtypeBox">
					<label for="gtype-<%= fgroup.id %>">ประเภทกลุ่มสินค้า</label>
					<select id="gtype-<%= fgroup.id %>">
						<option value="onli" <%= (fgroup.gtype=='onli'? 'selected':'') %>>ผลิตภัณฑ์ออนไล์</option>
						<option value="prod" <%= (fgroup.gtype=='prod'? 'selected':'') %>>ผลิตภัณฑ์อ็อฟไลน์</option>
						<option value="serv" <%= (fgroup.gtype=='serv'? 'selected':'') %>>บริการ</option>
						<option value="serc" <%= (fgroup.gtype=='serc'? 'selected':'') %>>ธรรมเนียมบริการ</option>
					</select>
				</div>
				<div class="GstatusBox">
					<label for="gdescription-<%= fgroup.status %>">การแสดงหน้าร้าน</label>
					<select id="gstatus-<%= fgroup.id %>">
						<option value="on" <%= (fgroup.status=='on'? 'selected':'') %>>เปิดแสดงหน้าร้าน</option>
						<option value="off" <%= (fgroup.status=='off'? 'selected':'') %>>ซ่อน</option>
					</select>
				</div>
				<div class="GupdateBox">
					<button onclick="updateData(<%= fgroup.id %>)">บันทึก</button>
				</div>
				<div class="GPictureFormBox">
					<label for="image-<%= fgroup.id %>">รูปกลุ่มเมนู</label>
					<div class="align-center">
						<div id="ImageFrame">
							<% if (fgroup.picture) { %>
								<img id="image-<%= fgroup.id %>" class="GroupImage" src="/<%=appname%>/img/upload/<%= shopid %>/group/<%= fgroup.picture %>"/>
							<%} else { %>
								<img id="image-<%= fgroup.id %>" class="GroupImage"/>
							<% } %>
						</div>
					</div>
					<div class="UploadIndicator">
						<div id="filename-<%= fgroup.id %>"></div>
						<div id="progress-<%= fgroup.id %>"></div>
						<div id="progressBar-<%= fgroup.id %>" class="progressBar"></div>
					</div>
					<input type="file" id="file-<%= fgroup.id %>" name='photos' onChange="return uploadImage(<%= fgroup.id %>);">
				</div>
				<div class="DeleteCommandDiv align-center">
					<input type="button" value=" ลบ " onclick="deleteGroup(<%= fgroup.id %>)"/>
				</div>
			</div>
			<% }) %>
		</div>
	<% } else {%>
		<div class="align-center">ยังไม่พบข้อมูล กลุ่มเมนู โปรดเพิ่มรายการกลุ่มเมนู โดยคลิกปุ่ม <b>เพิ่มกลุ่มเมนู</b> เพื่อเพิ่มข้อมูล</div>
	<% } %>
	<div class="align-center"><button id="AddCommandBtt" onclick="toggleAddForm()">เพิ่มกลุ่มเมนู</button></div>
	<div id="AddFormDiv">
		<div class="GnameBox">
			<label for="gname">ชื่อกลุ่มเมนู</label>
			<input type="text" id="gname" />
		</div>
		<div class="GdescriptionBox">
			<label for="gdescription">รายละเอียด</label>
			<input type="text" id="gdescription" />
		</div>
		<div class="GtypeBox">
			<label for="gtype">ประเภทกลุ่มสินค้า</label>
			<select id="gtype">
				<option value="onli">ผลิตภัณฑ์ออนไล์</option>
				<option value="prod">ผลิตภัณฑ์อ็อฟไลน์</option>
				<option value="serv">บริการ</option>
				<option value="serc">ธรรมเนียมบริการ</option>
			</select>
		</div>
		<div class="GdescriptionBox">
			<label for="gstatus">สถานะการแสดงผลหน้าร้าน</label>
			<select id="gstatus">
				<option value="on">เปิดแสดงผล</option>
				<option value="off">ปิดแสดงผล</option>
			</select>
		</div>
		<div class="GsaveBox">
			<button onclick="saveData()">บันทึก</button>
		</div>		
	</div>
</div>

<!-- including footer content which is common for all pages -->
<%- include ../footer.ejs %>

<script src="/<%=appname%>/script/js/simpleUpload.min.js"></script>

<script>
	$( function() {
		$( "#ListGroupDiv" ).accordion();
	});

	function toggleAddForm(){
		$( "#AddFormDiv" ).toggle();
	}

	function uploadImage(groupid){
		var uploadUrl = "/" + appname+ "/phamagroup/upload/" + groupid;
		$('#file-'+ groupid).simpleUpload(uploadUrl, {
			start: function(file){
				//upload started
				$('#filename-'+ groupid).html(file.name);
				$('#progress-'+ groupid).html("");
				$('#progressBar-'+ groupid).width(0);
			},
			progress: function(progress){
				//received progress
				$('#progress-'+ groupid).html("ดำเนินการได้ : " + Math.round(progress) + "%");
				$('#progressBar-'+ groupid).width(progress + "%");
			},
			success: function(data){
				console.log(JSON.stringify(data));
				$('#progress-'+ groupid).html("สำเร็จ!");
				$('#image-'+ groupid).attr('src', '/<%=appname%>/img/upload/' +cookie[0].shopid + '/group/' + data.filename);
				//$('#file-'+ groupid).attr("title", data[0].originalname);
			},
			error: function(error){
				//upload failed
				$('#progress-'+ groupid).html("Failure!<br>" + error.name + ": " + error.message);
			}
		});
	}

	function updateData(groupid){
		var newName = $('#gname-'+ groupid).val();
		if(newName != '') {
			var newDescription = $('#gdescription-'+ groupid).val();
			if(newDescription != '') {
				var newStatus = $('#gstatus-'+ groupid).val();
				var newType = $('#gtype-'+ groupid).val();
				var saveurl = "/" + appname + "/phamagroup/edit/" + groupid;
				var savedata = {name: newName, description: newDescription, status: newStatus, gtype: newType};
				//console.log(JSON.stringify(savedata));
				$.post(saveurl, savedata, function(data){
					//console.log(JSON.stringify(data));
					if (data.status.code == 200){
						showMessage("บันทึกข้อมูลสำเร็จ", "#data-message", function() {
							//
						});
					} else {
						showMessage("การบันทึกข้อมูลมีปัญหา กรุณาแจ้งผู้ดูแลของคุณ", "#data-message");
					}
				}).fail(function(error) { 
					showMessage("การบันทึกข้อมูลขัดข้อง เนื่องจาก<br/>" + JSON.stringify(error) + "<br/>กรุณาแจ้งผู้ดูแลของคุณ", "#data-message");
				});
			} else {
				$('#gdescription-'+ groupid).css('border', '3px solid red');
				$('#gdescription-'+ groupid).focus();
			}
		} else {
			$('#gname-'+ groupid).css('border', '3px solid red');
			$('#gname-'+ groupid).focus();
		}
	}

	function deleteGroup(groupid){
		if (confirm('คุณไม่ควรลบข้อมูลกลุ่มเมนูเนื่องจากรายการเมนูในกลุามนี้ทั้งหมดจพถูกลบไปด้วย\nโปรดยืนยันการลบโดยคลิก ตกลง')==true){
			var href = $(location).attr('href');
			var posturl = "/" + appname + "/foodgroup/delete/" + groupid;
			$.post(posturl, params, function(data){
				alert("ลบข้อมูลสำเร็จ!");
				$(location).attr('href', href);
			}).fail(function(error) { 
				console.log(JSON.stringify(error));
				alert("การลบข้อมูลขัดข้อง");
			});
		}
	}

	function saveData() {
		var newName = $('#gname').val();
		if(newName != '') {
			var newDescription = $('#gdescription').val();
			if(newDescription != '') {
				var newStatus = $('#gstatus').val();
				var newType = $('#gtype').val();
				var saveurl = "/" + appname + "/phamagroup/add";
				var savedata = {name: newName, description: newDescription, status: newStatus, gtype: newType};
				//console.log(JSON.stringify(savedata));
				$.post(saveurl, savedata, function(data){
					//console.log(JSON.stringify(data));
					if (data.status.code == 200){
						var href = $(location).attr('href');
						showMessage("บันทึกข้อมูลสำเร็จ", "#data-message", function() {
							$(location).attr('href', href);
						});
					} else {
						showMessage("การบันทึกข้อมูลมีปัญหา กรุณาแจ้งผู้ดูแลของคุณ", "#data-message");
					}
				}).fail(function(error) { 
					showMessage("การบันทึกข้อมูลขัดข้อง เนื่องจาก<br/>" + JSON.stringify(error) + "<br/>กรุณาแจ้งผู้ดูแลของคุณ", "#data-message");
				});
			} else {
				$('#gdescription').css('border', '3px solid red');
				$('#gdescription').focus();
			}
		} else {
			$('#gname').css('border', '3px solid red');
			$('#gname').focus();
		}
	}
</script>

<script>


</script>